/lesson2/nbproject/private/
/lesson2/build/
/thu/nbproject/private/
/thu/build/
/btvn3/nbproject/private/
/btvn3/build/
/baitapvenha3/nbproject/private/
/baitapvenha3/build/
/btvenha3/nbproject/private/
/ex03/nbproject/private/
/bt4/nbproject/private/
/bt4/build/
/btvn5/nbproject/private/
/btvn5/build/